In [34]:
import pandas as pd
import numpy as np
import os
import src.DataWrangling as DataWrangling
from pathlib import Path
PROJECT_ROOT = Path("..").resolve()
PROJECT_ROOT

PosixPath('/home/youssof/Desktop/Sepsis')

In [2]:
data = DataWrangling.load_data(f"{PROJECT_ROOT}/data/training_data")

In [3]:
data.keys()

dict_keys(['measurement_observation', 'observation', 'devices', 'measurement_lab', 'proceduresoccurrences', 'measurement_meds', 'SepsisLabel', 'drugsexposure', 'person_demographics_episode'])

In [4]:
data["measurement_meds"]

,index,visit_occurrence_id,person_id,measurement_datetime,Systolic blood pressure,Diastolic blood pressure,Body temperature,Respiratory rate,Heart rate,Measurement of oxygen saturation at periphery,Oxygen/Gas total [Pure volume fraction] Inhaled gas
0,200522,1704005512,1765616,2023-05-12 14:00:00,NaN,NaN,34.8,NaN,NaN,NaN,NaN
1,200523,1704005512,1765616,2023-05-12 16:00:00,NaN,NaN,36.0,NaN,NaN,NaN,NaN
2,200524,1704005512,1765616,2023-05-12 18:00:00,NaN,NaN,35.6,NaN,NaN,NaN,NaN
3,200525,1704005512,1765616,2023-05-12 20:00:00,NaN,NaN,36.7,NaN,NaN,NaN,NaN
4,200526,1704005512,1765616,2023-05-13 00:00:00,NaN,NaN,36.6,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
257744,173847,1464914453,2146982383,2019-12-24 01:00:00,NaN,NaN,37.0,NaN,NaN,NaN,NaN
257745,173848,1464914453,2146982383,2019-12-24 03:00:00,NaN,NaN,37.7,NaN,NaN,NaN,NaN
257746,173849,1464914453,2146982383,2019-12-24 05:00:00,NaN,NaN,36.5,NaN,NaN,NaN,NaN
257747,173850,1464914453,2146982383,2019-12-24 11:00:00,NaN,NaN,35.7,NaN,NaN,NaN,NaN
257748,173851,1464914453,2146982383,2019-12-24 13:00:00,NaN,NaN,36.7,NaN,NaN,NaN,NaN

In [6]:
data_fixed = data["measurement_meds"].copy()
data_fixed["Body temperature"] = data_fixed["Body temperature"].apply(DataWrangling.temperature_fixer)
data_fixed["Heart rate"] = data_fixed["Heart rate"].apply(DataWrangling.heart_rate_fixer)
data_fixed["Respiratory rate"] = data_fixed["Respiratory rate"].apply(DataWrangling.respiration_fixer)
data_fixed["Systolic blood pressure"] = data_fixed["Systolic blood pressure"].apply(DataWrangling.sys_bp_fixer)
data_fixed["Diastolic blood pressure"] = data_fixed["Diastolic blood pressure"].apply(DataWrangling.dias_bp_fixer)
data_fixed["Measurement of oxygen saturation at periphery"] = data_fixed["Measurement of oxygen saturation at periphery"].apply(DataWrangling.oxy_sat_fixer)
data_fixed

,index,visit_occurrence_id,person_id,measurement_datetime,Systolic blood pressure,Diastolic blood pressure,Body temperature,Respiratory rate,Heart rate,Measurement of oxygen saturation at periphery,Oxygen/Gas total [Pure volume fraction] Inhaled gas
0,200522,1704005512,1765616,2023-05-12 14:00:00,NaN,NaN,34.8,NaN,NaN,NaN,NaN
1,200523,1704005512,1765616,2023-05-12 16:00:00,NaN,NaN,36.0,NaN,NaN,NaN,NaN
2,200524,1704005512,1765616,2023-05-12 18:00:00,NaN,NaN,35.6,NaN,NaN,NaN,NaN
3,200525,1704005512,1765616,2023-05-12 20:00:00,NaN,NaN,36.7,NaN,NaN,NaN,NaN
4,200526,1704005512,1765616,2023-05-13 00:00:00,NaN,NaN,36.6,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
257744,173847,1464914453,2146982383,2019-12-24 01:00:00,NaN,NaN,37.0,NaN,NaN,NaN,NaN
257745,173848,1464914453,2146982383,2019-12-24 03:00:00,NaN,NaN,37.7,NaN,NaN,NaN,NaN
257746,173849,1464914453,2146982383,2019-12-24 05:00:00,NaN,NaN,36.5,NaN,NaN,NaN,NaN
257747,173850,1464914453,2146982383,2019-12-24 11:00:00,NaN,NaN,35.7,NaN,NaN,NaN,NaN
257748,173851,1464914453,2146982383,2019-12-24 13:00:00,NaN,NaN,36.7,NaN,NaN,NaN,NaN

In [12]:
data_imputed = data_fixed.copy()
data_imputed.drop("Oxygen/Gas total [Pure volume fraction] Inhaled gas",axis=1,inplace=True)
for column in data_imputed.columns:
    data_imputed = DataWrangling.last_observed_imputer(data_imputed,column)
data_imputed

,index,visit_occurrence_id,person_id,measurement_datetime,Systolic blood pressure,Diastolic blood pressure,Body temperature,Respiratory rate,Heart rate,Measurement of oxygen saturation at periphery
0,200522,1704005512,1765616,2023-05-12 14:00:00,NaN,NaN,34.8,NaN,NaN,NaN
1,200523,1704005512,1765616,2023-05-12 16:00:00,NaN,NaN,36.0,NaN,NaN,NaN
2,200524,1704005512,1765616,2023-05-12 18:00:00,NaN,NaN,35.6,NaN,NaN,NaN
3,200525,1704005512,1765616,2023-05-12 20:00:00,NaN,NaN,36.7,NaN,NaN,NaN
4,200526,1704005512,1765616,2023-05-13 00:00:00,NaN,NaN,36.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
257744,173847,1464914453,2146982383,2019-12-24 01:00:00,NaN,NaN,37.0,NaN,NaN,NaN
257745,173848,1464914453,2146982383,2019-12-24 03:00:00,NaN,NaN,37.7,NaN,NaN,NaN
257746,173849,1464914453,2146982383,2019-12-24 05:00:00,NaN,NaN,36.5,NaN,NaN,NaN
257747,173850,1464914453,2146982383,2019-12-24 11:00:00,NaN,NaN,35.7,NaN,NaN,NaN
257748,173851,1464914453,2146982383,2019-12-24 13:00:00,NaN,NaN,36.7,NaN,NaN,NaN

In [25]:
data_not_null = data_imputed.dropna().copy()
data_not_null

,index,visit_occurrence_id,person_id,measurement_datetime,Systolic blood pressure,Diastolic blood pressure,Body temperature,Respiratory rate,Heart rate,Measurement of oxygen saturation at periphery
85,57648,537992341,2904978,2024-11-06 14:00:00,92.0,47.0,37.0,45.370370,210.377040,96.555560
86,57649,537992341,2904978,2024-11-06 15:00:00,92.0,47.0,37.0,44.921050,208.269560,93.132070
87,57650,537992341,2904978,2024-11-06 16:00:00,92.0,47.0,36.6,45.407770,208.594590,96.358696
88,57651,537992341,2904978,2024-11-06 17:00:00,108.0,55.0,36.6,46.632183,210.091660,91.337660
89,57652,537992341,2904978,2024-11-06 18:00:00,106.0,59.0,36.4,39.796610,207.364410,94.028305
...,...,...,...,...,...,...,...,...,...,...
256927,85454,768142041,2130258284,2024-02-16 08:00:00,110.0,70.0,35.2,39.440678,121.203390,97.127120
256928,85455,768142041,2130258284,2024-02-16 09:00:00,110.0,70.0,35.2,44.446280,127.057850,97.090910
256929,85456,768142041,2130258284,2024-02-16 10:00:00,131.0,105.0,35.2,45.076270,126.576270,97.220340
256930,85457,768142041,2130258284,2024-02-16 11:00:00,131.0,105.0,35.2,38.176470,129.991600,98.184875
256931,85458,768142041,2130258284,2024-02-16 12:00:00,131.0,105.0,35.2,35.916668,112.333336,97.541664

In [22]:
sepsis_data = data["SepsisLabel"].copy()
sepsis_data["SepsisLabel"].value_counts(normalize=True)

SepsisLabel
0    0.979274
1    0.020726
Name: proportion, dtype: float64

In [23]:
sepsis_data[sepsis_data["person_id"].isin(data_not_null["person_id"].tolist())]["SepsisLabel"].value_counts(normalize=True)

SepsisLabel
0    0.982477
1    0.017523
Name: proportion, dtype: float64