In [4]:
import pandas as pd
import numpy as np
import os
import src.DataWrangling as DataWrangling
from pathlib import Path
PROJECT_ROOT = Path("..").resolve()
PROJECT_ROOT

PosixPath('/home/youssof/Desktop/Sepsis')

In [5]:
data = DataWrangling.load_data(f"{PROJECT_ROOT}/data/training_data")

In [6]:
data["measurement_lab"]

,index,visit_occurrence_id,person_id,measurement_datetime,Base excess in Venous blood by calculation,Base excess in Arterial blood by calculation,Phosphate [Moles/volume] in Serum or Plasma,Potassium [Moles/volume] in Blood,Bilirubin.total [Moles/volume] in Serum or Plasma,Neutrophil Ab [Units/volume] in Serum,...,Partial thromboplastin time,activated,Total white blood count,Platelet count,White blood cell count,Blood venous pH,D-dimer level,Blood arterial pH,Hemoglobin [Moles/volume] in Blood,Ionised calcium measurement
0,1919,59452488,510305,2019-07-01 16:00:00,-3.4,NaN,NaN,3.72,NaN,NaN,...,NaN,4.0,44.0,NaN,7.42,NaN,NaN,8.6,NaN,NaN
1,1920,59452488,510305,2019-07-01 17:00:00,NaN,NaN,NaN,NaN,NaN,2.5,...,NaN,NaN,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN
2,1921,59452488,510305,2019-07-02 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1922,59452488,510305,2019-07-03 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.3,41.0,NaN,NaN,NaN,NaN,8.9,NaN,NaN
4,1923,59452488,510305,2019-07-03 10:00:00,NaN,NaN,NaN,4.06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69302,38774,1230380332,2146062017,2022-03-01 15:00:00,NaN,NaN,NaN,NaN,2.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69303,3364,105316369,2146308255,2020-12-05 12:00:00,-1.6,NaN,NaN,4.20,NaN,NaN,...,25.6,9.8,422.0,NaN,7.35,NaN,NaN,11.9,1.36,NaN
69304,3365,105316369,2146308255,2020-12-05 14:00:00,NaN,NaN,NaN,NaN,NaN,6.1,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
69305,46791,1464914453,2146982383,2019-12-21 00:00:00,2.1,NaN,NaN,4.90,NaN,NaN,...,NaN,NaN,NaN,NaN,7.36,NaN,NaN,NaN,1.31,NaN
69306,46792,1464914453,2146982383,2019-12-21 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
lab_extremes_sepsis_tolerant = {
    "Base excess in Venous blood by calculation": {"unit": "mmol/L", "min": -25, "max": 25},
    "Base excess in Arterial blood by calculation": {"unit": "mmol/L", "min": -25, "max": 25},
    "Phosphate [Moles/volume] in Serum or Plasma": {"unit": "mmol/L", "min": 0.4, "max": 6},
    "Potassium [Moles/volume] in Blood": {"unit": "mmol/L", "min": 2.8, "max": 9},
    "Bilirubin.total [Moles/volume] in Serum or Plasma": {"unit": "µmol/L", "min": 0, "max": 700},
    "Neutrophil Ab [Units/volume] in Serum": {"unit": "×10^9/L", "min": 0.2, "max": 100},
    "Bicarbonate [Moles/volume] in Arterial blood": {"unit": "mmol/L", "min": 7, "max": 45},
    "Hematocrit [Volume Fraction] of Blood": {"unit": "L/L", "min": 0.22, "max": 0.70},
    "Glucose [Moles/volume] in Serum or Plasma": {"unit": "mmol/L", "min": 2, "max": 45},
    "Calcium [Moles/volume] in Serum or Plasma": {"unit": "mmol/L", "min": 1.4, "max": 3.2},
    "Chloride [Moles/volume] in Blood": {"unit": "mmol/L", "min": 80, "max": 125},
    "Sodium [Moles/volume] in Serum or Plasma": {"unit": "mmol/L", "min": 115, "max": 165},
    "C reactive protein [Mass/volume] in Serum or Plasma": {"unit": "mg/L", "min": 0, "max": 400},
    "Carbon dioxide [Partial pressure] in Venous blood": {"unit": "mmHg", "min": 12, "max": 65},
    "Oxygen [Partial pressure] in Venous blood": {"unit": "mmHg", "min": 18, "max": 55},
    "Albumin [Mass/volume] in Serum or Plasma": {"unit": "g/L", "min": 12, "max": 60},
    "Bicarbonate [Moles/volume] in Venous blood": {"unit": "mmol/L", "min": 7, "max": 45},
    "Oxygen [Partial pressure] in Arterial blood": {"unit": "mmHg", "min": 45, "max": 160},
    "Carbon dioxide [Partial pressure] in Arterial blood": {"unit": "mmHg", "min": 18, "max": 65},
    "Interleukin 6 [Mass/volume] in Body fluid": {"unit": "pg/mL", "min": 0, "max": 6000},
    "Magnesium [Moles/volume] in Blood": {"unit": "mmol/L", "min": 0.5, "max": 3},
    "Prothrombin time (PT)": {"unit": "sec", "min": 9, "max": 50},
    "Procalcitonin [Mass/volume] in Serum or Plasma": {"unit": "ng/mL", "min": 0, "max": 150},
    "Lactate [Moles/volume] in Blood": {"unit": "mmol/L", "min": 0.5, "max": 20},
    "Creatinine [Mass/volume] in Blood": {"unit": "µmol/L", "min": 40, "max": 900},
    "Fibrinogen measurement": {"unit": "g/L", "min": 1, "max": 7},
    "Bilirubin measurement": {"unit": "µmol/L", "min": 0, "max": 700},
    "Partial thromboplastin time": {"unit": "sec", "min": 25, "max": 120},
    "activated": {"unit": "", "min": 0, "max": 1},  # Binary flag
    "Total white blood count": {"unit": "×10^9/L", "min": 1, "max": 60},
    "Platelet count": {"unit": "×10^9/L", "min": 20, "max": 1200},
    "White blood cell count": {"unit": "×10^9/L", "min": 1, "max": 60},
    "Blood venous pH": {"unit": "pH", "min": 6.85, "max": 7.65},
    "D-dimer level": {"unit": "µg/mL FEU", "min": 0, "max": 30},
    "Blood arterial pH": {"unit": "pH", "min": 6.85, "max": 10},
    "Hemoglobin [Moles/volume] in Blood": {"unit": "mmol/L", "min": 5, "max": 22},
    "Ionised calcium measurement": {"unit": "mmol/L", "min": 1.0, "max": 2.2}
}

In [8]:
lab_data = data["measurement_lab"].copy()
for column in lab_data.drop(["visit_occurrence_id","person_id","measurement_datetime","index"],axis = 1).columns:
    try:
        lab_data[column] = lab_data[column].apply(lambda x: DataWrangling.value_fixer(x,lab_extremes_sepsis_tolerant[column]["max"]))
    except:
        continue

lab_data["Blood arterial pH"] = lab_data["Blood arterial pH"].apply(lambda x: x + 6 if x < 6 else x)
lab_data["Blood arterial pH"] = lab_data["Blood arterial pH"].apply(lambda x: DataWrangling.value_fixer(x,1000,abs_max= 8))

lab_data["Blood venous pH"] = lab_data["Blood venous pH"].apply(lambda x: x + 6 if x < 6 else x)
lab_data["Blood venous pH"] = lab_data["Blood venous pH"].apply(lambda x: DataWrangling.value_fixer(x,1000,abs_max= 8))


lab_data

,index,visit_occurrence_id,person_id,measurement_datetime,Base excess in Venous blood by calculation,Base excess in Arterial blood by calculation,Phosphate [Moles/volume] in Serum or Plasma,Potassium [Moles/volume] in Blood,Bilirubin.total [Moles/volume] in Serum or Plasma,Neutrophil Ab [Units/volume] in Serum,...,Partial thromboplastin time,activated,Total white blood count,Platelet count,White blood cell count,Blood venous pH,D-dimer level,Blood arterial pH,Hemoglobin [Moles/volume] in Blood,Ionised calcium measurement
0,1919,59452488,510305,2019-07-01 16:00:00,-3.4,NaN,NaN,3.72,NaN,NaN,...,NaN,4.0,44.0,NaN,7.42,NaN,NaN,NaN,NaN,NaN
1,1920,59452488,510305,2019-07-01 17:00:00,NaN,NaN,NaN,NaN,NaN,2.5,...,NaN,NaN,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN
2,1921,59452488,510305,2019-07-02 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1922,59452488,510305,2019-07-03 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.3,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1923,59452488,510305,2019-07-03 10:00:00,NaN,NaN,NaN,4.06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69302,38774,1230380332,2146062017,2022-03-01 15:00:00,NaN,NaN,NaN,NaN,2.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69303,3364,105316369,2146308255,2020-12-05 12:00:00,-1.6,NaN,NaN,4.20,NaN,NaN,...,25.6,9.8,42.2,NaN,7.35,NaN,NaN,7.19,1.36,NaN
69304,3365,105316369,2146308255,2020-12-05 14:00:00,NaN,NaN,NaN,NaN,NaN,6.1,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
69305,46791,1464914453,2146982383,2019-12-21 00:00:00,2.1,NaN,NaN,4.90,NaN,NaN,...,NaN,NaN,NaN,NaN,7.36,NaN,NaN,NaN,1.31,NaN
69306,46792,1464914453,2146982383,2019-12-21 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
lab_data_imputed = lab_data.copy()

for column in lab_data_imputed.columns:
    lab_data_imputed = DataWrangling.last_observed_imputer(lab_data_imputed,column)
lab_data_imputed

,index,visit_occurrence_id,person_id,measurement_datetime,Base excess in Venous blood by calculation,Base excess in Arterial blood by calculation,Phosphate [Moles/volume] in Serum or Plasma,Potassium [Moles/volume] in Blood,Bilirubin.total [Moles/volume] in Serum or Plasma,Neutrophil Ab [Units/volume] in Serum,...,Partial thromboplastin time,activated,Total white blood count,Platelet count,White blood cell count,Blood venous pH,D-dimer level,Blood arterial pH,Hemoglobin [Moles/volume] in Blood,Ionised calcium measurement
0,1919,59452488,510305,2019-07-01 16:00:00,-3.4,NaN,NaN,3.72,16.5,2.5,...,31.9,4.0,44.00,0.6,7.42,NaN,NaN,7.10,1.25,NaN
1,1920,59452488,510305,2019-07-01 17:00:00,-0.3,NaN,NaN,4.06,16.5,2.5,...,31.9,4.3,41.00,0.6,7.53,NaN,NaN,7.10,1.25,NaN
2,1921,59452488,510305,2019-07-02 13:00:00,-0.3,NaN,NaN,4.06,16.5,2.6,...,31.9,4.3,41.00,0.0,7.53,NaN,NaN,7.10,1.25,NaN
3,1922,59452488,510305,2019-07-03 09:00:00,-0.3,NaN,NaN,4.06,16.5,2.6,...,31.9,4.3,41.00,0.0,7.53,NaN,NaN,7.10,1.25,NaN
4,1923,59452488,510305,2019-07-03 10:00:00,-0.3,NaN,NaN,4.06,16.5,2.6,...,31.9,5.1,13.60,0.0,7.53,NaN,NaN,7.10,1.25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69302,38774,1230380332,2146062017,2022-03-01 15:00:00,1.9,NaN,1.4,4.10,2.7,10.0,...,28.7,13.1,7.24,0.2,7.34,NaN,NaN,7.20,1.30,NaN
69303,3364,105316369,2146308255,2020-12-05 12:00:00,-1.6,NaN,NaN,4.20,NaN,6.1,...,25.6,9.8,42.20,1.0,7.35,NaN,NaN,7.19,1.36,NaN
69304,3365,105316369,2146308255,2020-12-05 14:00:00,-1.6,NaN,NaN,4.20,NaN,6.1,...,25.6,9.8,42.20,1.0,7.35,NaN,NaN,7.19,1.36,NaN
69305,46791,1464914453,2146982383,2019-12-21 00:00:00,2.1,NaN,NaN,4.90,NaN,NaN,...,NaN,NaN,NaN,NaN,7.36,NaN,NaN,NaN,1.31,NaN
69306,46792,1464914453,2146982383,2019-12-21 01:00:00,2.1,NaN,NaN,4.90,NaN,NaN,...,NaN,NaN,NaN,NaN,7.36,NaN,NaN,NaN,1.31,NaN

In [16]:
nans = lab_data_imputed.isna().sum().sort_values(ascending = False) / lab_data_imputed.shape[0]
nans

Ionised calcium measurement                            1.000000
Interleukin 6 [Mass/volume] in Body fluid              0.948115
Blood venous pH                                        0.863708
Oxygen [Partial pressure] in Arterial blood            0.552527
Bicarbonate [Moles/volume] in Arterial blood           0.552368
Carbon dioxide [Partial pressure] in Arterial blood    0.552368
Base excess in Arterial blood by calculation           0.552368
D-dimer level                                          0.551979
Phosphate [Moles/volume] in Serum or Plasma            0.288311
Calcium [Moles/volume] in Serum or Plasma              0.255227
Bilirubin measurement                                  0.249701
Magnesium [Moles/volume] in Blood                      0.190832
Albumin [Mass/volume] in Serum or Plasma               0.166231
Bilirubin.total [Moles/volume] in Serum or Plasma      0.161210
Prothrombin time (PT)                                  0.155540
Partial thromboplastin time                            0.155497
Fibrinogen measurement                                 0.155396
Platelet count                                         0.117622
Procalcitonin [Mass/volume] in Serum or Plasma         0.064654
Glucose [Moles/volume] in Serum or Plasma              0.054915
Lactate [Moles/volume] in Blood                        0.041035
Carbon dioxide [Partial pressure] in Venous blood      0.026534
Base excess in Venous blood by calculation             0.026534
Bicarbonate [Moles/volume] in Venous blood             0.020142
Oxygen [Partial pressure] in Venous blood              0.020113
White blood cell count                                 0.019580
C reactive protein [Mass/volume] in Serum or Plasma    0.014299
Blood arterial pH                                      0.014299
Creatinine [Mass/volume] in Blood                      0.012163
Hemoglobin [Moles/volume] in Blood                     0.012120
Total white blood count                                0.006738
 activated                                             0.006695
Neutrophil Ab [Units/volume] in Serum                  0.006695
Potassium [Moles/volume] in Blood                      0.005930
Sodium [Moles/volume] in Serum or Plasma               0.004444
Chloride [Moles/volume] in Blood                       0.004357
Hematocrit [Volume Fraction] of Blood                  0.003420
person_id                                              0.000000
visit_occurrence_id                                    0.000000
measurement_datetime                                   0.000000
index                                                  0.000000
dtype: float64

In [24]:
cols_to_drop = nans[nans > 0.26]
cols_to_drop.index.tolist()

['Ionised calcium measurement',
 'Interleukin 6 [Mass/volume] in Body fluid',
 'Blood venous pH',
 'Oxygen [Partial pressure] in Arterial blood',
 'Bicarbonate [Moles/volume] in Arterial blood',
 'Carbon dioxide [Partial pressure] in Arterial blood',
 'Base excess in Arterial blood by calculation',
 'D-dimer level',
 'Phosphate [Moles/volume] in Serum or Plasma']

In [25]:
lab_data_imputed.drop(cols_to_drop.index.tolist(),axis = 1)

,index,visit_occurrence_id,person_id,measurement_datetime,Base excess in Venous blood by calculation,Potassium [Moles/volume] in Blood,Bilirubin.total [Moles/volume] in Serum or Plasma,Neutrophil Ab [Units/volume] in Serum,Hematocrit [Volume Fraction] of Blood,Glucose [Moles/volume] in Serum or Plasma,...,Creatinine [Mass/volume] in Blood,Fibrinogen measurement,Bilirubin measurement,Partial thromboplastin time,activated,Total white blood count,Platelet count,White blood cell count,Blood arterial pH,Hemoglobin [Moles/volume] in Blood
0,1919,59452488,510305,2019-07-01 16:00:00,-3.4,3.72,16.5,2.5,0.248,5.3,...,35.4,2.9,9.8,31.9,4.0,44.00,0.6,7.42,7.10,1.25
1,1920,59452488,510305,2019-07-01 17:00:00,-0.3,4.06,16.5,2.5,0.263,5.3,...,33.8,2.9,9.8,31.9,4.3,41.00,0.6,7.53,7.10,1.25
2,1921,59452488,510305,2019-07-02 13:00:00,-0.3,4.06,16.5,2.6,0.263,5.3,...,33.8,2.9,9.8,31.9,4.3,41.00,0.0,7.53,7.10,1.25
3,1922,59452488,510305,2019-07-03 09:00:00,-0.3,4.06,16.5,2.6,0.263,5.3,...,33.8,2.9,9.8,31.9,4.3,41.00,0.0,7.53,7.10,1.25
4,1923,59452488,510305,2019-07-03 10:00:00,-0.3,4.06,16.5,2.6,0.208,5.3,...,33.8,2.9,9.8,31.9,5.1,13.60,0.0,7.53,7.10,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69302,38774,1230380332,2146062017,2022-03-01 15:00:00,1.9,4.10,2.7,10.0,0.373,4.4,...,34.9,4.8,1.6,28.7,13.1,7.24,0.2,7.34,7.20,1.30
69303,3364,105316369,2146308255,2020-12-05 12:00:00,-1.6,4.20,NaN,6.1,0.352,NaN,...,36.2,6.0,NaN,25.6,9.8,42.20,1.0,7.35,7.19,1.36
69304,3365,105316369,2146308255,2020-12-05 14:00:00,-1.6,4.20,NaN,6.1,0.352,NaN,...,36.2,6.0,NaN,25.6,9.8,42.20,1.0,7.35,7.19,1.36
69305,46791,1464914453,2146982383,2019-12-21 00:00:00,2.1,4.90,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.36,NaN,1.31
69306,46792,1464914453,2146982383,2019-12-21 01:00:00,2.1,4.90,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.36,NaN,1.31