In [4]:
import pandas as pd
import os

os.chdir("../")
os.getcwd()

'/home/youssof/Desktop/Sepsis'

In [8]:
sepsis = pd.read_csv("data/training_data/SepsisLabel_train.csv")
sepsis.sample(20)

         person_id measurement_datetime  SepsisLabel
308745  1945679675  2024-11-18 23:00:00            0
61816   1313970597  2023-11-24 23:00:00            0
291642   355107674  2022-12-11 14:00:00            0
78302   1719359031  2024-03-27 15:00:00            0
126892  1702473143  2019-09-06 03:00:00            0
216139   203008612  2022-07-01 04:00:00            0
123407   312617972  2020-10-07 09:00:00            0
250853  2005128362  2023-11-20 00:00:00            0
122532  1165854377  2021-10-29 18:00:00            0
48397   1471416509  2019-07-07 00:00:00            0
226651   137897634  2024-08-17 05:00:00            0
61287    268956504  2020-08-04 12:00:00            1
325098  2130258284  2024-02-16 06:00:00            0
161066   525886290  2022-11-29 13:00:00            0
220275  1609503630  2024-10-11 04:00:00            0
302602  2106048359  2024-11-01 03:00:00            0
110417  1335786468  2024-09-05 07:00:00            0
330537   979433018  2020-03-25 19:00:00            0
288744   126617526  2020-11-07 06:00:00            0
75294   1939094204  2022-12-23 14:00:00            0

In [9]:
sepsis["SepsisLabel"].value_counts()

SepsisLabel
0    324779
1      6874
Name: count, dtype: int64